[submodule "themes/syna"]
	path = themes/syna
	url = https://github.com/okkur/syna.git
[submodule "themes/BioTech"]
	path = themes/BioTech
	url = https://github.com/Aroy-Art/BioTech.git
[submodule "themes/Rinkusu"]
	path = themes/Rinkusu
	url = https://github.com/Aroy-Art/Rinkusu.git
