[build]
publish = "public"
command = "hugo --minify"

[[headers]]
# Define which paths this specific [[headers]] block will cover.
for = "/.well-known/matrix/client"
[headers.values]
Access-Control-Allow-Origin = "*"

[context.production.environment]
HUGO_VERSION = "v0.150.1"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "hugo --minify"

[context.deploy-preview.environment]
HUGO_VERSION = "v0.150.1"

[context.branch-deploy]
command = "hugo"

[context.branch-deploy.environment]
HUGO_VERSION = "v0.150.1"
